$primary: #3f4fc2;
$light: #d9dfff;
$danger: #dc1fff;
$success: #01f39d;
$blue: #55a2ff;
.text-green {
    color: #00b273;
}

.text-pink {
    color: #cc00f2;
}
$white: #fff;
$secondary: #18191f;
$footerColor: #272930;
$darkBlue: #3747ac;
$darkWhite: #f2f2f2;
$gray2: #4f4f4f;
$grayDiv: #c4c4c4;
$blackColor: #000000;
$pink: #dc1fff;
$textnetColor: #404040;
$borderbottomColor: #737373;
$roadmapBlueBtn: #3747ac;
$roadmapGreenBtn: #00b273;
$roadmapPinkBtn: #cc00f2;
$roadmapOrangeBtn: #f2994a;
$teamNameColor: #121212;
$darkmodeTiersTitle: #fafafa;
$dotcolorDarkMode: #35d49b;
$fundsColor: #737373;
$dashedLineColor: #737373;
$darkHeading: #121212;
$whiteBgColor: #fafafa;
$paragraphTextColor: #cccccc;
$contentColor: #ffffff;
