.modal {
    & .body {
        border-radius: 5px;
        padding: 10px;
        background: white;
    }
    & .container {
        padding: 30px;
        background: linear-gradient(44.42deg, #e49759 -9.97%, #d9e1ea 89.05%, #e49759 140.5%);
    }
    & .title,
    & .content,
    & .action {
        background: white;
    }

    & .title {
        font-size: 20px;
    }

    & .content {
        max-height: 400px;
    }

    & .primary-button {
        color: #212e53 !important;
    }
}
