.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

ul {
    padding: 0;
    margin: 0;
}
ul,
li {
    list-style-type: none;
    /* text-decoration: none;*/
}

li,
a {
    text-decoration: none;
}
li {
    padding: 4px;
    background: rgb(211, 245, 207);
    border: 1px solid rgb(3, 63, 3);
    margin: 10px;
    /* border-radius: 10px;*/
}
li:hover {
    cursor: pointer;
    background-color: rgb(46, 150, 68);
    font-size: larger;
}
li,
a:hover {
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.quiz-form {
    display: flex;
    flex-direction: column;
}

.quiz-form fieldset {
    margin-bottom: 20px;
}
